[mysqld]                                                                                                                                                                     character-set-server=utf8
log_bin=mysql-bin
server-id=1
binlog-format=row
