{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <ul class=entries>
      <h2>所有功能:</h2>
      <li>
          <a href="{{ url_for('find_info') }}">学生信息查询</a>
      </li>
      <li>
          <a href="{{ url_for('find_class') }}">课程表查询</a>
      </li>
      <li>
          <a href="{{ url_for('add_entry') }}">添加新同学</a>
        </li>
      <h2>公告:</h2>
      <li><a>开发者:冯宇飞</a></li>
    </ul>
  {% else %}
  <h2>欢迎使用学生管理系统</h2>
  <li>请用管理员账号登录
  <li>或者注册新账号
  {% endif %}
{% endblock %}
