{% extends "layout.html" %} 
{% block body %}
  <h2>Student</h2>
  <style type="text/css">
     ul{
        clear: both;
    }
     li{
        border: 1px solid blue;
        height: 20px;
        width: 100px;
        float: left;
        list-style: none;
    }
    </style>
   <ul class = entries>  
       <li>学号</li><li>名字</li><li>分数</li><li>删除</li><li>更新</li>
   </ul>
  {% for entry in entries %}
  <ul class = entries>
      <li>{{ entry.number }}</li><li>{{entry.name}}</li><li>{{entry.score}}</li>
      <li><a href="{{ url_for('delete_info') }}">[Delete]</a></li>
      <li><a href="{{ url_for('update_info') }}">[Update]</a></li> 
  </ul>
  {% endfor %} 
{% endblock %}
