
<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <link href="css/kuangjia.css" rel="stylesheet" type="text/css" ></link>  
    </head>
    <body style="background: olive;">
         <div class="rounded" id="head">
             <h4>Hello World!</h4>
        <div class="main" id="main">     
                 <div class="left" id="left">   
        <table border=1px bordercolor=red align=center border-radius:10px>
          <td>名字</td>
          <td>简要信息</td>
           <td>学号</td>                                                            
           <td>关键字1</td>                                                         
                         <td>关键字2</td>
                         <td>专业</td>
                         <td>图片</td>                
               </tr>                                                                    
               {% for entry in entries %}
              <tr>                
             <td>{{ entry.name }}</td>
             <td>{{ entry.message }}</td> 
             <td>{{ entry.num }}</td> 
              <td>{{ entry.key1 }}</td> 
              <td>{{ entry.key2 }}</td>                                                
              <td>{{ entry.classname }}</td>                                           
              <td><img src="{{entry.picname}}" style="height:100px;weight:100px"></td> 
              {% endfor %} 
        </table>   
         </div>
            </div>
      
            <div class="footer">
                <p></p>
            </div>
          </div>
    </body>
</html>
