{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('update_info') }}" method=post class=add-entry enctype=multipart/form-data>
  <dl>
    <dt>Number:
    <dd><input type=text size=30 name=number>
    <dt>Name:
    <dd><input type=text size=30 name=name>
    <dt>Score:
    <dd><input type=text size=30 name=score>
    <dt>Title:
    <dd><input type=text size=30 name=title>
    <dt>Text:
    <dd><textarea name=text rows=5 cols=40></textarea>
    <dt>Image:
    <dd><input type=file name=file>
    <dd><input type=submit value=Update>
  </dl>
</form>
{% endblock %}
